<application>

<script>

import ApplicationController from "./ApplicationController"
export default{
    onBeforeMount( _, state) {
        state.owner = new ApplicationController()
        state.owner.willFinishLaunching()
    },
    onMounted( _, state){
        state.owner.didFinishLaunching()
    }
}
</script>

<div id="mainView"></div>

</application>